<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

    {% for cupcake in cupcakes %}
    <li>{{cupcake.flavor}}</li>
    {% endfor %}


    <form>
        <input type="text" id="flavor" placeholder="flavor">
        <input type="text" id="size" placeholder="size">
        <input type="number" id="rating" placeholder="rating">
        <input type="text" id='image' placeholder="image">
        <button id="new-cupcake-btn">Submit</button>
    </form>


    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="/static/app.js"></script>
</body>
</html>
