<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <div class="col-4">
            <h1 class="display-4">Cupcakes</h1>
            <ul class="list-group">
                {% for cupcake in cupcakes %}
                <li class="list-group-item">{{cupcake.flavor}}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-4 mt-3">
            <form>
                <input class="form-control form-control-lg" type="text" id="flavor" placeholder="flavor">
                <input class="form-control form-control-lg" type="text" id="size" placeholder="size">
                <input class="form-control form-control-lg" type="text" id="rating" placeholder="rating">
                <input class="form-control form-control-lg" type="text" id='image' placeholder="image">
                <button class="btn btn-info btn-large btn-block mt-1" id="new-cupcake-btn">Submit</button>
            </form>
        </div>
    </div>


    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="/static/app.js"></script>
</body>
</html>
